/* Gerais */

* {  
  scroll-behavior: smooth;
}
body {
	font-size: 1.0em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}
.bg-white {
  background-color: #fff;
  color: #000;
}
.bg-black {
  background-color: #0f0f0f !important;
  color: #fff !important;
}
.justify-left {
  justify-content: left !important;
}
.flex {
  display: flex;
}
.flow-column {
  flex-flow: column;
}

.table *{
  text-align: center;
  vertical-align: middle !important;
  font-size: 1rem;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1.5rem;
  font-weight: 300; 
}

h1 { font-size: 3rem;}
h2 { font-size: 1.8rem;}
h3 { font-size: 1.6rem;}
h4 { font-size: 1.4rem;}
h5 { font-size: 1.2rem;}
h6 { font-size: 1.0rem;}

p {
	margin-top: 0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB; 
}
a:hover {
  color: #0FA0CE; 
  text-decoration: none;
}

button {
	background-color: #000;
	border: none;
	border-radius: 3px;
	color: #fff;
	height: auto;
	padding: 8px 37px;
  font-weight: 400;
  letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 0.8rem;
}


button:hover, button:focus {
	background-color: #fff;
	color: #000;
}

button.light {
	background-color: #fff;
	color: #000;
}

button.light:hover, button.light:focus {
	background-color: #000;
	color: #fff;
}

#sidebar .active {
  background-color: #1EAEDB;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #0f0f0f;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center; }
    #sidebar.active ul.components li {
      font-size: 14px; }
      #sidebar.active ul.components li a {
        padding: 10px 0; }
        #sidebar.active ul.components li a span {
          margin-right: 0;
          display: block;
          font-size: 24px; }
    #sidebar.active .logo {
      padding: 10px 0; }
    #sidebar.active .footer {
      display: none; }
  #sidebar .logo {
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 30px;
      display: block;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a span {
        margin-right: 15px; }
        @media (max-width: 991.98px) {
          #sidebar ul li a span {
            display: block; } }
      #sidebar ul li a:hover {
        color: #fff; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
  @media (max-width: 991.98px) {
    #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important; }
      #sidebar.active {
        margin-left: 0 !important; } }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

.footer {
  padding: 0 30px; }
  @media (max-width: 991.98px) {
    .footer {
      display: none; } }

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
